<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Title</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Tranfer Parent -> Child</h3>
        </div>
        <div class="panel-body">
          <span class="label label-danger">Tranfer Child -> Parent</span>
          <hr/>
          <h3>Username: {{txtUsername}}</h3>
          <h3>Phone: {{txtPhone}}</h3>
          <hr/>
          <app-child [married]="isMarried" [age]="age" [name]="'Tran Quyet'" 
            (username)="onGetUsername($event)"
            (phone)="onGetPhone($event)"
          >
          </app-child>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <app-list-user [user] ="user" [txtUsername]="txtUsername" [txtPhone]="txtPhone"></app-list-user>
    </div>
  </div>
</div>
<hr />
<hr />
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Ng-Class Attribute-Directive</h3>
        </div>
        <div class="panel-body">
          <ng-class></ng-class>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Switch-Case Directive</h3>
        </div>
        <div class="panel-body">
          <app-switch-case></app-switch-case>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">NgFor Directive</h3>
        </div>
        <div class="panel-body">
          <app-ng-for></app-ng-for>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Structural-Directive</h3>
        </div>
        <div class="panel-body">
          <structural-directive></structural-directive>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <two-way-binding></two-way-binding>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Component to View</h3>
        </div>
        <div class="panel-body">
          <component-to-view></component-to-view>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">View to Component</h3>
        </div>
        <div class="panel-body">
          <view-to-component></view-to-component>
        </div>
      </div>
    </div>
  </div>
</div>
